.caja{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( 105.5deg,  rgba(176,176,176,1) 29.3%, rgba(220,216,216,1) 51.8% );


}


.login{
    margin: 0;
    padding: 0;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
}

.logo-usuario{
    display: flex;
    justify-self: center;
    width: 100px;
    border-radius: 50%;
    margin-top: -50%;
    border: 2px solid white;
}

.btn{
    display: flex;
    align-content: center;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
}